BEGIN; ALTER TABLE project_members DROP COLUMN IF EXISTS role, DROP COLUMN IF EXISTS organization_id, DROP COLUMN IF EXISTS invited_by, DROP COLUMN IF EXISTS invited_at, DROP COLUMN IF EXISTS joined_at, DROP COLUMN IF EXISTS status, DROP COLUMN IF EXISTS updated_at; DROP TYPE IF EXISTS project_member_role; COMMIT;
