BEGIN; DO \$\$ BEGIN CREATE TYPE project_member_role AS ENUM ('owner', 'admin', 'developer', 'viewer'); EXCEPTION WHEN duplicate_object THEN NULL; END \$\$; ALTER TABLE project_members ADD COLUMN IF NOT EXISTS role project_member_role NOT NULL DEFAULT 'viewer', ADD COLUMN IF NOT EXISTS organization_id UUID REFERENCES organizations(id) ON DELETE CASCADE, ADD COLUMN IF NOT EXISTS invited_by UUID REFERENCES users(id) ON DELETE SET NULL, ADD COLUMN IF NOT EXISTS invited_at TIMESTAMPTZ, ADD COLUMN IF NOT EXISTS joined_at TIMESTAMPTZ DEFAULT NOW(), ADD COLUMN IF NOT EXISTS status VARCHAR(32) DEFAULT 'active', ADD COLUMN IF NOT EXISTS updated_at TIMESTAMPTZ DEFAULT NOW(); UPDATE project_members pm SET organization_id = p.org_id FROM projects p WHERE pm.project_id = p.id AND pm.organization_id IS NULL; ALTER TABLE project_members ALTER COLUMN organization_id SET NOT NULL; CREATE UNIQUE INDEX IF NOT EXISTS idx_project_members_project_user_unique ON project_members(project_id, user_id); CREATE INDEX IF NOT EXISTS idx_project_members_org_user ON project_members(organization_id, user_id); CREATE INDEX IF NOT EXISTS idx_project_members_role ON project_members(project_id, role); CREATE INDEX IF NOT EXISTS idx_project_members_status ON project_members(status); COMMIT;
