BEGIN; ALTER TABLE project_api_keys ADD COLUMN IF NOT EXISTS organization_id UUID REFERENCES organizations(id) ON DELETE CASCADE, ADD COLUMN IF NOT EXISTS scopes TEXT[] DEFAULT '{}'; UPDATE project_api_keys pak SET organization_id = p.org_id FROM projects p WHERE pak.project_id = p.id AND pak.organization_id IS NULL; ALTER TABLE project_api_keys ALTER COLUMN organization_id SET NOT NULL; CREATE INDEX IF NOT EXISTS idx_api_keys_org ON project_api_keys(organization_id); COMMIT;
